<%= render "shared/navbar" %>
<div class="banner" style="background-image: url('<%= asset_path('banner.jpeg')%>');">
  <div class="container">
    <%# <h1>WATCH LISTS</h1> %>
    <p><span data-controller="typed-js"></span> </p>
    <%#= link_to "Add new list", new_list_path, class: "btn btn-ghost" %>
  </div>
</div>
<div class="list-cards">
  <% @lists.each do |list| %>
    <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : list.image_url %>)">
      <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete #{list.name}" }, class: "btn-round right-corner" do %>
        <i class="fa-solid fa-circle-minus"></i>
      <% end %>
      <p><%= list.name %></p>
      <%= link_to '', list_path(list), class: 'link-card' %>
    </div>
  <% end %>
  <%= link_to new_list_path, class: "list-card d-flex align-items-center justify-content-center" do %>
    <p class="text-primary">+ Add a list</p>
  <% end %>
</div>
