<div class="list-cards">
  <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <div class="list-card" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path(list.photo.key)%>)" >
    <% else %>
    <div class="list-card" style = "background-color: <%=list.image_url%>" >
    <% end %>
      <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete #{list.name}" }, class: "btn-round right-corner" do %>
        <i class="fa-solid fa-circle-minus"></i>
      <% end %>
      <p><%= list.name %></p>
      <%= link_to '', list_path(list), class: 'link-card' %>
    </div>
  <% end %>
  <%= link_to new_list_path(list_type: 'movie'), class: "list-card d-flex align-items-center justify-content-center" do %>
    <p class="text-primary">+ Add a Movie list</p>
  <% end %>
  <%= link_to new_list_path(list_type: 'person'), class: "list-card d-flex align-items-center justify-content-center" do %>
    <p class="text-primary">+ Add a Person list</p>
  <% end %>
</div>
