<%= render "shared/navbar", list: @list%>
<div class="banner" style="background-image: url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : @list.image_url %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<% if @list.list_type == 'movie' %>
  <%= render "show_movie", list: @list, movies: @movies %>
<% else %>
  <%= render "show_person", list: @list, people: @people %>
<% end %>
