<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to lists_path, class: "navbar-brand" do %>
      <%= image_tag "logo1.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item ">
          <%= link_to image_tag("plus.png"), new_list_bookmark_path(@list), class: "btn-round" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : @list.image_url %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="movie-cards">
  <% @movies.each do |movie| %>
    <div class="movie-card">
      <img src="<%= movie.poster_url %>" alt="<%= movie.title %>">
      <div class="movie-card-infos">
        <div>
          <h2 class="movie-card-rating"><%= movie.rating%></h2>
          <h2><%= movie.title %></h2>
        </div>
        <%= link_to bookmark_path(movie.bookmark_ids), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete #{movie.title}" }, class: "btn-round right-corner" do %>
          <i class="fa-solid fa-circle-minus"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
