<% if @list.photo.attached? %>
      <div class="banner" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path(@list.photo.key)%>)" >
    <% else %>
    <div class="banner" style = "background-color: <%=@list.image_url%>" >
    <% end %>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<% if @list.list_type == 'movie' %>
  <%= render "show_movie", list: @list, movies: @movies %>
<% else %>
  <%= render "show_person", list: @list, people: @people %>
<% end %>
