<% if @list %>
  <%= simple_form_for [list, bookmark] do |f| %>
    <%#= f.input :comment  %>
    <%= f.simple_fields_for Person.new do |person_form| %>
      <%= person_form.input :name, input_html: {class: "person-name"} %>
      <%= person_form.input :department, label: false, input_html: {class: "person-department d-none"} %>
      <%= person_form.input :tmdb_person_id, label: false, input_html: {class: "person-id d-none"} %>
      <%= person_form.input :profile_url, label: false, input_html: {class: "person-profile d-none"} %>
    <% end %>
    <%= f.submit 'Add', class: "btn btn-outline-light add-person", style: "display: none;" %>
  <% end %>
  <div class="person-cards display-fetched-people">
  </div>

  <%= javascript_include_tag 'search_person' %>
<% elsif person %>
  <%= simple_form_for [person, bookmark] do |f| %>
      <%#= f.input :comment  %>
      <%= f.association :list, collection: List.where(list_type: 'person').where.not(id: person.lists).order(:name), include_blank: false, input_html: { class: '' } %>
      <%= f.submit 'Add', class: "btn btn-outline-light add-movie", style: "display: none;" %>
  <% end %>
<% end %>
