
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to lists_path, class: "navbar-brand" do %>
      <%= image_tag "logo1.png" %>
    <% end %>
  </div>
</div>

<div class="container text-white mt-3 p-3 bg-dark">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment  %>
    <%= f.association :movie, collection: @movies %>
    <%= f.submit 'Add Movie', class: "btn btn-outline-light" %>
  <% end %>
</div>
