<div class="movie-card">
  <img src="<%= movie.poster_url %>" alt="<%= movie.title %>">
  <div class="movie-card-infos">
    <div>
      <h2 class="movie-card-rating"><%= movie.rating%></h2>
      <h2><%= movie.title %></h2>
    </div>
  </div>
  <%= link_to new_movie_bookmark_path(movie), class: "btn-round right-corner" do %>
    <i class="fa-solid fa-circle-plus"></i>
  <% end %>
</div>